.about-us {
  text-align: center;
  padding: 20px;
  background-color: var(--sports-black);
}

.about-us h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-variant: small-caps;
  color: var(--meat-brown);
}

/* Card layout container */
.about-us-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  color: var(--snow-white);
}

.about-us-text {
  text-align: left;
  max-width: 500px;
}

.about-us-text h3 {
  perspective: 1000px;
}

.about-us-symbol {
  padding-left: 1rem;
  animation: bounce 1s ease infinite;
}

.about-us-image img {
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
}

/* Larger screens */
@media (min-width: 768px) {
  .about-us-card {
    flex-direction: row;
    gap: 40px;
  }

  .about-us-text {
    text-align: left;
  }

  .about-us-image img {
    max-width: 600px;
  }

  .about-us-card.reverse {
    flex-direction: row-reverse;
  }
}

/* For desktop screens and above */
@media (min-width: 1200px) {
  .about-us-card {
    gap: 60px;
  }

  .about-us-text h3 {
    font-size: 1.8rem;
  }

  .about-us-text p {
    font-size: 1.1rem;
  }
}
