:root {
  --meat-brown: #e2a440;
  --ultramarine: #2142ab;
  --sports-black: #141313;
  --snow-white: #f2f0eb;
  --font-pf-venue: "pf-venue";
}

body {
  margin: 0;
  font-family: var(--font-pf-venue), sans-serif;
  color: var(--sports-black);
  background-color: var(--snow-white);
}
